@import "~bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.stall {
  width: 120px;
  height: 120px;
  position: relative;
  z-index: 1;
}

.toiletImg {
  width: 120px;
  height: 120px;
  z-index: -1;
}

.stallImg {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.stallText {
  top: 10px;
  left: 15px;
  z-index: 99;
  font: 1em sans-serif;
  font-size: 1em;
  color: whitesmoke;
  position: relative;
}

.stallState {
  top: 70px;
  left: 10px;
  width: 100px;
  z-index: 99;
  position: relative;
}

.motionState {
  top: -40px;
  left: 45px;
  width: 67px;
  z-index: 99;
  position: relative;
}